:root {
    --color1: #752201;
    --color2: #3a84c3;
}

header, footer, section{
    padding: 100px 0;
}

header{
    padding: 200px 0;
}

header, footer{
    background: var(--color1);
    background: linear-gradient(to right,  var(--color1) 0%,var(--color2) 100%);
}

.itd_play{
    background-color: aquamarine;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0,2 ease;
}
.itd_play:hover{
    background-color: blanchedalmond;
}

.itd_triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent var(--bs-white);
    margin-right: -8px;
}

.btn_itd{
    display: block;
    max-width: 400px;
    margin: 0 auto;
    padding: -16px 60px;
    color: --bs-white;
    background-color: var(--color2);
}

.btn_itd:hover{
    color: --bs-white;
    background-color: var(--bs-gray-200);
}

.color1{
    color: var(--color1);
}

.color2{
    color: var(--color2);
}

.bg1{
    background-color: var(--color1);
}

.cbg{
    background-color: var(--color2);
}

.about{
    background-color:azure
}

.icon_svg{
    fill: #752201;
    font-size: 25px;
}

.itd_circle{
    margin: 0 auto 15px;
    width: 100px;
    height: 100px;
    border: 3px solid var(--color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto;

}